@model Graduation_Project.BLL.ViewModels.UserVM.CreateUserVM

@{
    ViewData["Title"] = "Create User";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" class="card shadow p-4">
    @Html.Partial("_UserForm", Model)

    <div class="d-flex justify-content-between mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
